<footer class="hl-footer">
  <div class="hl-footer__links">
    <div class="hl-footer__group">
      <div class="hl-footer__group-label">Support</div>
      <a class="hl-footer__link" href="{{ '/support/' | relative_url }}">Support This Research</a>
    </div>
    <div class="hl-footer__group">
      <div class="hl-footer__group-label">Contact</div>
      <a class="hl-footer__link" href="{{ '/about-me/' | relative_url }}">About Me</a>
      <a class="hl-footer__link" href="mailto:intel@the-hunters-ledger.com">intel@the-hunters-ledger.com</a>
    </div>
    <div class="hl-footer__group">
      <div class="hl-footer__group-label">Need Help?</div>
      <a class="hl-footer__link" href="{{ '/consulting/' | relative_url }}">Consulting &amp; Advisory</a>
      <a class="hl-footer__link" href="https://www.linkedin.com/in/josephrharrison" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
  </div>
  <div class="hl-footer__bottom">
    <span>{{ site.footer_text }}</span>
  </div>
</footer>
