<header class="hl-nav">
  <a class="hl-nav__brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
  <nav class="hl-nav__links" aria-label="Site navigation">
    {% assign nav_pages = site.pages | where_exp: "item", "item.position" | sort: 'position' %}
    {% for nav_page in nav_pages %}
      {% unless nav_page.title == null or nav_page.hide or nav_page.title == site.title %}
      <a class="hl-nav__link" href="{{ nav_page.url | relative_url }}">{{ nav_page.nav_title | default: nav_page.title }}</a>
      {% endunless %}
    {% endfor %}
  </nav>
</header>
